.card {
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  height: 250;
  transition: transform 0.2s;
  background-color: #dbe2f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3%;
}

p {
  margin: 5px !important;
}

.card-container:hover {
  transform: scale(1.02);
}

.school-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.col {
  display: flex;
  justify-content: space-between;
}

.group2 {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  overflow-wrap: break-word;
}

.bold {
  font-weight: 700;
}

.buttons {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.edit-btn {
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}