* {
  box-sizing: border-box;
}



.home-parent {
  background: linear-gradient(to right, rgba(red, 0.5), rgba(red, 0.4)),
    url("../styles/2 (2).jpg");
  position: relative;

  height: 100vh;
  background-size: cover;
  list-style-type: none;
}

.home-parent {

  .form {
    padding-top: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max-content;
    min-height: 40%;
    min-width: 300px;
    padding-bottom: 2%;
    width: 50%;
    background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.6));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      width: 60%;
      height: 40px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      select,
      input {
        padding-left: 10px;
        width: 100%;
        height: 100%;
        font-size: .9rem;
      }

      .btn {
        width: 100%;
        height: 100%;
        background-color: green;
        font-size: .9rem;
        font-weight: 700;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .otp {
        background-color: blue;
      }

      .link {
        display: inline-block;
        width: 50%;
        height: 100%;
        // text-decoration: underline;
        font-size: .9rem;
        font-weight: 700;
        color: rgb(119, 119, 210);
        text-align: center;
        // background-color: green;
        z-index: 60;

      }


    }

    li:last-child {
      margin-top: 30px;
    }

  }
}

.form-container {
  list-style-type: none;
  background-color: #ffffff;
  width: 78vw;
  height: auto;
  min-height: 100vh;
  display: flex;

  .form {
    background-color: #f2f6fc;
    border: 1px solid rgba(black, 0.1);
    border-radius: 4px;
    width: 50vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding-bottom: 2%;

    li {


      input {
        width: 50%;
        padding: 0.4vh;
      }

      textarea {
        width: 50%;
        padding: 1.5vh;
      }

      .btn-add {
        width: 50%;
        height: 40px;
        background-color: green;
        font-size: .9rem;
        font-weight: 700;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      margin-bottom: 2vh;
    }
  }
}

.staff-container {
  display: flex;

  .profile {
    padding-top: 10vh;
    width: 18vw;
    height: auto;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 1vw;
    border: 1px solid rgba(black, 0.1);
    border-radius: 4px;

    ul {
      list-style-type: none;
      padding: 0;

      .nav-item {
        padding: 1vh;
        font-size: 2.4vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .nav-link {
          width: 50%;
          text-align: left;
          text-decoration: none;
          font-weight: 600;
          // font-size: 110%;
        }
      }
    }
  }

  .content {
    background-color: #ffffff;
    width: 78vw;
    text-align: center;
    margin: 1vw;
    border: 1px solid rgba(black, 0.1);
    border-radius: 4px;
  }
}

.myprofile {
  img {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 15vh;
    width: 10vw;
  }

  ul {
    list-style-type: none;

    li {
      font-size: 2.5vh;
      padding: 1vh;
    }
  }
}

.list {
  position: relative;

  table {
    border: 2px solid black;
    border-radius: 2vh;
    padding: 8vh 5vw;
    margin-left: 40vw;
    margin-top: 20vh;
    width: 30vw;
    // background-color: blue;
    // position: absolute;
    // top: 20vh;
    // left: 50vw;

    transform: translate(-50%, -10%);

    thead {
      th {
        padding-bottom: 1vh;
        padding-top: 3vh;
        padding-left: 1vw;
        padding-right: 1vw;
        text-align: center;
      }
    }

    tbody {
      tr>td {
        padding-bottom: 2vh;
        padding-left: 2vw;
        padding-right: 3vw;
        text-align: center;
      }
    }
  }
}

.menu {

  .menu-ul {
    display: flex;
    position: absolute;
    margin-left: 10vw;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
    list-style-type: none;
    text-decoration: none;

    .menu-item1 {
      margin-right: 10vw;
      padding: 5vh 5vw;
      border-radius: 1vh;
      border: 1px solid rgba(black, 0.1);
      background-color: blueviolet;


      .nav-link {
        text-decoration: none;
        color: white !important;
        font-weight: 500;
      }
    }

    .menu-item2 {

      border-radius: 1vh;
      background-color: #fb8e3d;
      padding: 5vh 5vw;

      .nav-link {
        text-decoration: none;
        color: white !important;
        font-weight: 500;
      }
    }
  }
}

.list-container {
  width: 100%;
}

.search {
  margin: 3% auto 1% auto;
  width: 80%;
}

.search>input {
  padding: 10px 30px;
  width: 50%;
  border-radius: 7px;
}












.navbar {
  height: 50px;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: relative;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}

.iconImg {
  width: 20px;
  height: 20px;
}

.counter {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

.notifications {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  color: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.notification {
  padding: 5px;
  font-size: 14px;
}

.nButton {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
}